data/coco_captioning/train2014_vgg16_fc7.h5 filter=lfs diff=lfs merge=lfs -text
data/coco_captioning/train2014_vgg16_fc7_pca.h5 filter=lfs diff=lfs merge=lfs -text
data/coco_captioning/val2014_vgg16_fc7.h5 filter=lfs diff=lfs merge=lfs -text
